@model IEnumerable<BTLW.Models.ChiTietHddh>

@{
    ViewData["Title"] = "CTDDH";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Chi tiết @ViewBag.soDDH </h1>

<p>@TempData["Message1"]</p>

<input type="button" value="Thêm" onclick="location.href='@Url.Action("ThemCTDDH", "Admin")'" />
<table class="table" id="table1">
    <thead>
        <tr>
            <th>
                Mã nội thất
            </th>
            <th>
                Số ĐĐH
            </th>
            <th>
                Só lượng
            </th>
            <th>
                Giảm giá
            </th>
            <th>
                Thành tiền
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaNoithat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoDdh)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiamGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThanhTien)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
