@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<TaiKhoan>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Register</h1>
<p>@TempData["Message"]</p>
<p>
    <a asp-action="ThemTaiKhoan">Create New</a>
</p>
<table class="table" id="table1">
    <thead>
        <tr>
            <th>
                Tên TK
            </th>
            <th>
                Mật khẩu
            </th>
            <th>
                Loại TK
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenTk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatKhau)
            </td>
            <td>
                    @if (item.LoaiTk == true)
                    {
                        <p>Admin</p>
                    }
                    else
                    {
                        <p>User</p>
                    }
                </td>
            <td>
                <a asp-action="SuaTaiKhoan" asp-route-mataikhoan="@item.MaTk">Edit</a> |
                    <a asp-action="Details" asp-route-mataikhoan="@item.MaTk">Details</a> |
                    <a asp-action="XoaTaiKhoan" asp-route-mataikhoan="@item.MaTk">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@Html.PagedListPager(Model,page=>Url.Action("Register",new{page=page}),new
X.PagedList.Web.Common.PagedListRenderOptions(){
    LiElementClasses=new List<String>{"page-iten"},PageClasses=new List<String>{"page-link"}
})